<ion-header [translucent]="true">
  <ion-toolbar color="laranja">
    <ion-title>
      XML VIA CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Pesquisar por CEP</ion-label>
    <ion-input name="cep" [(ngModel)]="cep"></ion-input>
  </ion-item>


  <ion-button expand="full" fill="outline" (click)="consultar(cep)">Consultar</ion-button>


  <div *ngFor="let item of items">

    <ion-item>
      <ion-label>
        Endereço: {{item.xmlcep.logradouro}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Bairro: {{item.xmlcep.bairro}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        CEP: {{item.xmlcep.cep}}
      </ion-label>
    </ion-item>

  </div>



</ion-content>